<div class="title">
    <h2>Login</h2>
</div>

{{#if failure}}
    <h3 style="color: red; text-align: center;">Login inválido</h3>
{{/if}}

<form action="/login" method="post">
    <div class="account-form">
        <input type="text" name="username" placeholder="Digite o seu nome">
        <input type="text" name="password" placeholder="Digite a sua senha">
    </div>
        <div class="buttons">
            <input type="submit" value="Confirmar">
        </div>
</form>
<p>
    <a href="/" style="display: block; text-align: center;">Voltar</a>
</p>