<div class="title">
    <h2>Faça já a sua conta</h2>
</div>
    <h3 id="warning"></h3>
<ul>
    <form action="/register" method="post">
        <div class="account-form">
            <input type="text" id="name" placeholder="Digite o seu nome">
            <input type="text" id="surname" placeholder="Digite o seu sobrenome">
            <input type="text" id="password" placeholder="Digite a sua senha">
            <input type="text" id="confirmpassword" placeholder="Confirme a sua senha">
        </div>
            <div class="buttons">
                <input type="submit" value="Confirmar">
            </div>
    </form>
</ul>