<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="/users/create" method="post">
        <div class="inputs">
            <input type="text" name="name" placeholder="Digite seu nome">
            <input type="text" name="lastname" placeholder="Digite seu sobrenome">
            <input type="text" name="age" placeholder="Digite sua idade">
            <input type="text" name="password" placeholder="Digite sua senha">
            <input type="text" name="confirmpassword" placeholder="Digite novamente sua senha">
            <input type="submit" value="Registrar">
        </div>
    </form>
</body>

</html>