<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="title">
        Seja bem-vindo
    </div>
    <h3 id="result"></h3>
    <form action="/users/validation" method="post" class="container">
        <div class="inputs">
            <input type="text" name="user" placeholder="Insira seu usuário">
            <input type="text" name="password" placeholder="Insira sua senha">
            <p><input type="submit" value="Enviar"></p>
        </div>
    </form>
    <div class="container">
        <a href="/users/register">Criar conta</a>
        <a href="/users/forgotpassw" style="padding-left: 300px;">Esqueceu a senha?</a>
    </div>
</body>

</html>