nav{
    text-align: center;
    color: blueviolet;
    font-size: 30px;
}

footer{
    margin-top: 20%;
    text-align: center;
}

.title{
    color: blue;
    text-align: center;
    margin-top: 5%;
}

.account-form{
    margin-right: 42%;
    margin-left: 40%;
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.buttons{
    text-align: center;
}